:root{
    --color-primary:#ee5057;
    --color-secondary:#111;
    --color-text:#898989;
    --color-light:#f4f4f4;

    --font-primary:'Open Sans',Helvetica,Arial,sans-serif;
    --font-bold:700;
    --font-light:400;

    --font-size-text:13px;
    --font-size-title:20px;
    --font-size-section-title:48px;

    --siza-primary:25px;
    --siza-double:calc(var(--siza-primary)*2);
    --siza-half:calc(var(--siza-primary)/2);

    --margin-primary:var(--siza-primary);
    --padding-primary:var(--siza-primary);
    --padding-double:var(--siza-double);
    --padding-half:var(--siza-half);
    --height-primary:120px;
    --md:768px;
}
::-webkit-scrollbar{
    width: 8px;
    background-color: #d8d8d880;
    border-radius: 4px;

    
}
::-webkit-scrollbar-thumb{
    background-color: var(--color-primary);
    border-radius: 4px;

}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 0;
}

a{
    color: inherit;
    text-decoration: none;
}
/* start nav */
.ml-auto{
    margin-left:auto;
}

.navbar .level-anch.nav-link{
    padding-right: var(--padding-primary);
    padding-left:  var(--padding-primary);
    transition: 0.3s;
}
.navbar .level-anch.nav-link:hover{
    background-color: var(--color-primary);
    color: white;
}
@media (min-width:768px) {
    .navbar{
        height: var(--height-primary);
        overflow: hidden;
    
    }
    .navbar .level-anch.nav-link{
    padding: calc(var(--padding-primary) * 2) 
    var(--padding-primary);

    }
}
/* end nav  */ 
/* start hero */
.hero {
    background: url("/assets/img/bg-img-1.jpg") no-repeat center center /cover;
    height:515px;
    display: flex;
    align-items: center;
    justify-content: center;
}  
.search-form{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--siza-half);
    padding: var(--padding-primary) var(--padding-double);
}
.form-group {
    flex: 1 25%;
    position: relative;
    display: flex;
    align-items: center;
}
.form-group  i{
    color: var(--color-primary);
    font-size: var(--font-size-title);
    position: absolute;
    left: var(--siza-half);
}
.form-group .form-control{
    border-radius: 0;
    padding-left:  var(--padding-double);
    
}

.btn_me{
    background-color: var(--color-primary);
    border: none;
    /* width: 100%; */
    transition: 0.3s;
    text-transform: uppercase;
    font-weight: var(--font-bold);
}
.btn_me:hover{
    background-color: rgb(247, 48, 48);

} 
.btn-search{
    width: 100%;
}
.need_help{
    background-color: white;
    font-size: 0.8rem;
    padding: 0 var(--padding-double) var(--padding-half); 
}
/* end hero */
/* start section Subscribetion*/
section{
    padding: var(--padding-double) 0;
    position: relative;

}
.section-color{
    background-color: var(--color-primary);
    color: white;
}
.section-title{
    font-size: var(--font-size-section-title);

}
.section-subtitle{
    font-size: var(--font-size-title);
}
.btn-white{
    border: 2px solid white;
    color: inherit;
    padding: var(--padding-half) var(--padding-double);
}
.btn-white:hover{
    background-color: white;
    color: var(--color-primary);
}
/* end section Subscribetion*/
/* start section services */
.section-down-arrow{
    position: absolute;
    top: 0;
    height: var(--height-primary);
    width: 100%;

}
.article {
    text-align: center;
    margin-top: 70px;
    padding: var(--padding-primary);
    transition: all 0.2s ease-in;
    color: var(--color-primary);
}
.article:hover{
    scale: 1.1;
    box-shadow: 0 0 7px 0 var(--color-text);
}
.article .article-icon{
    font-size: 4rem;
    margin-bottom: var(--siza-primary);
}
.btn_fill{
    width: max-content;
}
/* end section services */
/* start section slider */
.section-gray{
    background-color: var(--color-light);
}

.level-slider img{
    width: 100%;

}
.level-slider-item-container{
    padding: var(--padding-primary);

}
.level-slider-item h3{
    font-size: var(--font-size-title);
    color: var(--color-primary);

}
.level-slider-item p{
    font-size: var(--font-size-text);
    color: var(--color-text);
}
.level-slider-item{
    background-color: white;
    margin-right: 12px;
}
/* end section slider */
/* start  Places*/
.star-places{
background-color: white;
}
.pla{
    height: 442px;
    overflow-y:scroll;

}
.star-places-header{
    background-color: var(--color-primary);
    color: white;
    padding: var(--padding-half);
}
.star-places-header h3{
    font-size: var(--font-size-title);
    font-weight: var(--font-light);
}
.star-places-header p{
    font-size: var(--font-size-text);
    margin: 0;
}
.star-places-body{
    padding: var(--padding-primary) 
            var(--padding-primary)
            10px;
}
.star-places-body a{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--siza-primary);
    background-color: var(--color-light);
    margin-bottom: var(--siza-half);
    color: var(--color-secondary);
    text-decoration: none;
    transition:all 0.3s;
}
.star-places-body a:hover{
    background-color: #d8d8d8;
    
}
.star-places-body h4{
    font-size: var(--font-size-title);
    text-transform: uppercase;    


}
/* end  Places*/
/* start video */
.video-continer{
    overflow: hidden;
    width: 100%;
    height: 515px;
    position: relative;
}
.video-continer video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.video-overlay{
    position: absolute;
    background-color: rgb(0 0 0 /50%);
    width: 100%;
    height: 515px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.video-control-play,
.video-control-pause{
    color: white;
    font-size: var(--font-size-section-title);
    cursor: pointer;
}
.video-control-pause{
    display: none;
}
/* end video */
/* start contact */
.contact-form{
    margin: 0 auto;

    
}
.contact-form .form-control{
    background-color: var(--color-light);
    border: none;

}
.contact-form .form-group i{
    top: var(--siza-half);
}
.map iframe{
    width: 100%;
    margin-bottom: 20px;
}
/* end contact */
/* start  footer  */
.footer{
    background-color: var(--color-secondary);
}
.footer p{
    padding: var(--padding-primary) 0;
    color: white;
    text-align: center;
    margin-bottom: 0;
}
/* end  footer  */
